.big-banner {
    background-image: url('/images/cover/cover-1.png');

}

.cover-banner {
    background-image: url('/images/cover/cover-2.jpg');
}

.cover-photo {
    background-image: url('/images/cover/cover-1.png');
}

.course-img {
    width: 400px;
    height: 400px;
}